.wrapper
  .box
    = render partial: "common/leftbox"
    .right-box
      .right-box__group
        .right-box__group--name
          = @group.name
        .right-box__group--edit
          =link_to "Edit", edit_group_path(@group)
        .right-box__group--member
          Members:
          - @group.users.each do |user|
            = "#{user.name},"
      .right-box__message
        .right-box__message__box
          - @group.messages.each do |message|
            .right-box__message__box__detail
              .right-box__message__box__detail--name
                = message.user.name
              .right-box__message__box__detail--date
                = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
              .right-box__message__box__detail--content
                = message.body

      .right-box__send
        = form_for [@group, @message] do |f|
          = f.text_field :body, placeholder: "type a message", class: "right-box__send__input"
          %i.fa.fa-image.right-box__send--image
          = f.submit "Send", class: "right-box__send__button"
