.wrapper
  .box
    = render partial: "common/leftbox"
    .right-box
      .right-box__group
        .right-box__group--name
          = @group.name
        .right-box__group--edit
          =link_to "Edit", edit_group_path(@group)
        .right-box__group--member
          Members:
          - @group.users.each do |user|
            = "#{user.name},"
      .right-box__message
        .right-box__message__box
          = render @messages

      .right-box__send
        = form_for [@group, @message], html: {id: 'new_message'} do |f|
          = f.text_field :body, placeholder: "type a message", class: "right-box__send__input"
          %label.right-box__send--image
            = f.file_field :image
            %i.fa.fa-image
          = f.submit "Send", class: "right-box__send__button"
