.chat-group-form
  %h1
    = form_title
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__input"

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input{placeholder: "追加したいユーザー名を入力してください", type: "text", id: 'chat-group-form__input'}
        #user-search-result
          %ul{id: 'list'}

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label チャットメンバー
      .chat-group-form__field--right
        %ul#chat-group-users
          %li.chat-group-user.clearfix
            .chat-group-user__name
              = current_user.name
              = hidden_field_tag('group[user_ids][]', current_user.id)
          = render partial: "groups/user", collection: @users_except_current_user

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", name: "commit", type: "submit", class: "chat-group-form__action-btn"
